{% extends 'base.html.twig' %}

{% block section %}P치gina no encontrada{% endblock section %}

{% block body %}
  <div class="container">
    <p class="intro">
      La p치gina solicitada no pudo ser localizada. 
    </p>
    <p class="intro">
      Verifique cualquier error ortogr치fico en la URL 
      o <a href="{{ path('homepage') }}">regrese a la p치gina de inicio</a>.
    </p>
  </div>
{% endblock %}