{% extends 'base.html.twig' %}

{% block section %}Error interno del servidor{% endblock section %}

{% block body %}
  <div class="container">
    <h1>500</h1>
    
    <p class="intro">
      ¡Vaya! Algo salió mal.
    </p>
    <p class="intro">
      Intenta cargando de nuevo la página o póngase en contacto con el administrador si el problema persiste.
    </p>
  </div>
{% endblock %}