{% extends 'base.html.twig' %}

{% block section %}Prueba Técnica para Brandlive{% endblock section %}

{% block body %}

  <div class="container">
    <p class="intro">
      La evaluación consiste en realizar un pequeño ABM utilizando Symfony como Framework de desarrollo. 
      Se debe tener en cuenta que la versión del Framework a utilizar es la <code>2.8.x</code>.
    </p>
  </div>

{% endblock %}